<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-2">
      <div class="card-article">
        <div class="card-article-title">
         <h3>Sign up!</h3>
         <%= form_for :user, url: '/users' do |f| %>

         Name: <%= f.text_field :name %> <br>
         Email: <%= f.text_field :email %> <br>
         Password: <%= f.password_field :password %> <br>
         Password Confirmation: <%= f.password_field :password_confirmation %> <br>
         <%= f.submit "Submit", class: "btn btn-primary" %>

         <% end %>
       </div>
     </div>
   </div>
 </div>
</div>
